/*body {
	margin: 0px;
	padding: 0px;
	font: 62.7% Verdana, Arial, Helvetica, sans-serif;
	background: #E6E6E6 url(images/page_bg.png) repeat-y center top;
	text-align: center;
}

menu {
	float: left;
	width: 150px;
	clear: left;
}

li {list-style: none; float: left;}*/
